@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.leftsidebar {
  /* border: 1px solid red; */
}
.main {
  /* border: 1px solid green; */
  background-color: #F7F9FD;
}
.rightsidebar {
  /* border: 1px solid red; */
}

.cardBorder {
  border:  none;
}
.borderRounded {
  border-radius: 5px;
}

.bgGreen {
  background-color: #006838;
  color: #fff !important;
}
.bgGreenHover:hover {
  background-color: #006838;
}